.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;

  label {
    min-width: 70px;
    font-size: 13px;
    font-weight: 600;
  }
}
